@import "variables";

body{
  font-family: $font-family-oswald;
}
header{
    width: 100%;
    background-image: url("../images/header.jpg");
    background-size: cover;
    margin-top: -72px;
    .container{
      padding-top: 65px;
    }
    .Bienvenida{
      padding: 265px 0;
      h1{
        color: $blanco;
        text-transform: uppercase;
        font-size: 60px;
        font-weight: 700;
      }
      .btn-primary {
        color: $blanco;
        background-color: $rojo;
        border: none;
        border-radius: 30px;
        padding: 15px 20px;
        text-transform: uppercase;
        font-weight: bold;
        &:hover{
          background-color: $gris-oscuro;
        }
      }
    }
}

.line-roja{
  border-bottom: 2px solid $rojo;
  display: block;
  width: 50px;
  margin: 20px auto;
}
.line-blanco{
  border-bottom: 2px solid $blanco;
  display: block;
  width: 50px;
  margin: 20px auto;
}
.btn-blanco-radius{
  color: $negro;
  background-color: $blanco;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  text-transform: uppercase;
  font-weight: bold;
  &:hover{
    background-color: $gris-oscuro;
  }
}

//////// CUSTOM BOOTSTRAP /////////////

.navbar{
    border-radius: 0px;
}
.navbar-default{
  background-color: rgba(0,0,0,0.08);
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid $blanco-alpha;
}
.navbar-default .navbar-nav>li>a{
  color: $gris;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar-default .navbar-nav>li>a:hover{
  color: $rojo;
}

.navbar-default .navbar-brand{
  color: $gris;
  text-transform: uppercase;
    font-weight: 700;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
  color: $rojo;
}
.navbar-default .navbar-brand:hover{
  color: $rojo;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: $rojo;
}

.Aprender-Mas{
    background: $rojo;
  .container{
    padding: 70px 200px;
    h2{
      color: $blanco;
    }
    p{
      color: $blanco;
      font-style: lighter;
      font-weight: 300;
    }
  }
}

.Nuestros-Servicios{
    background: $blanco;
  .container{
    padding: 70px 0;
    .List-Servicios{
      span{
        color: $rojo;
        font-size: 40px;
      }
      h3{
        color: $negro;
      }
      p{
        color: $negro;
        font-style: lighter;
        font-weight: 300;
      }
    }
  }
}

.Portfolio{
  overflow: hidden;
  div{
    padding: 0px;
    img{
  max-width: 650px;
  width: 100%;
  }
  }

}

.Sumate{
    background: $gris-oscuro;
  .container{
    padding: 70px 0;
    h3{
      color: $blanco;
    }
    p{
      color: $blanco;
      font-style: lighter;
      font-weight: 300;
    }
  }
}

.Contacto{
    background: $blanco;
  .container{
    padding: 70px 200px;
    h2{
      color: $gris-oscuro;
    }
    p{
      color: $gris-oscuro;
      font-style: lighter;
      font-weight: 300;
    }
    .Datos{
      span{
        color: $gris-oscuro;
        font-size: 30px;
        display: block;
        margin: 10px 0;
      }
      .Datos-Box{
        margin: 15px 0;
        .Datos-Tel{
          color: $gris-oscuro;
        }
        .Datos-Email{
          color: $rojo;
        }
      }
    }
  }
}
@import "responsive";